In [139]:
#Importing pandas and numpy library
import numpy as np 
import pandas as pd

In [140]:
#Loading the sad happy and angry datasets
sad = pd.read_csv('sad.csv')
happy= pd.read_csv('happy.csv')
angry=pd.read_csv('angry.csv')

In [141]:
#Finding the shapes of all datas
print("Happy : ",happy.shape)
print("Angry : ",angry.shape)
print("Sad : ",sad.shape)

Happy :  (708, 2)
Angry :  (696, 2)
Sad :  (635, 2)

In [142]:
happy.head(2)

                                             content sentiment
0  Wants to know how the hell I can remember word...     happy
1  Love is a long sweet dream & marriage is an al...     happy

In [143]:
angry.head(2)

                                             content sentiment
0  Sometimes I’m not angry, I’m hurt and there’s ...     angry
1                     Not available for busy people☺     angry

In [144]:
sad.head(2)

                                             content sentiment
0  Never hurt people who love you a lot, because ...       sad
1  Don’t expect me to tell you what you did wrong...       sad

In [145]:
#Dropping the duplicates from all the datas
happy = happy.drop_duplicates(subset='content', keep="first")
angry = angry.drop_duplicates(subset='content', keep="first")
sad = sad.drop_duplicates(subset='content', keep="first")

In [146]:
#Concatenating the three datas in to df
frames = [sad, happy, angry]
df = pd.concat(frames)

In [147]:
#Displaying the concatenated dataframe
df.head(3)

                                             content sentiment
0  Never hurt people who love you a lot, because ...       sad
1  Don’t expect me to tell you what you did wrong...       sad
2  I preferred walking away than fighting for you...       sad

In [148]:
#Looking for the info of df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1592 entries, 0 to 694
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   content    1592 non-null   object
 1   sentiment  1592 non-null   object
dtypes: object(2)
memory usage: 37.3+ KB

In [149]:
#Dropping the duplicates
df = df.drop_duplicates(subset='content', keep="first")

In [150]:
#Checking for count on each unique item
df['sentiment'].value_counts()

happy    702
angry    494
sad      390
Name: sentiment, dtype: int64

In [151]:
#replacing the categorical values
df['sentiment'].replace({'happy':1,'angry':0,'sad':2},inplace=True)

In [152]:
#Categorical converted to numerial
df['sentiment'].value_counts()

1    702
0    494
2    390
Name: sentiment, dtype: int64

In [153]:
import re
#Defining function to clean the html tag from text
def html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '',text)
df['content']=df['content'].apply(html)

In [154]:
## Defining function to convert to lower case
def lower(text):
    return text.lower()
df['content']=df['content'].apply(lower)

In [155]:
#defining Function to remove special characters
def special(text):
        x=''
        for i in text:
            if i.isalnum():
                x=x+i
            else:
                x=x+' '
        return x
df['content']=df['content'].apply(special)

In [156]:
#Importing NLTK library
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import nltk
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HOME\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [157]:
#defining function to remove stopwords using nltk library
def r_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y
df['content']=df['content'].apply(r_stopwords)

In [158]:
#Defining function to join back the list of elements
def join_back(list_input):
    return " ".join(list_input)
df['content']=df['content'].apply(join_back)

In [159]:
#instantiation of portstemmer
ps= PorterStemmer()
y=[]
#Defining function to stemming the words
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z
df['content']=df['content'].apply(stem_words)

In [160]:
#Defining a joinback function to join the items
def joinback2(list_input):
    return "".join(list_input)
df['content']=df['content'].apply(joinback2)

In [161]:
df

                                               content  sentiment
0    never hurt people love lot hurt back probably ...          2
1    expect tell wrong figure ready correct cos kno...          2
2    preferred walking away fighting worth fighting...          2
3    moving forward life hard part leaving behind s...          2
4    never cry anyone life cry deserve tears deserv...          2
..                                                 ...        ...
681  embarrassment anger biggest humiliation person...          0
685  strong man good wrestler strong man one contro...          0
687                          man big things make angry          0
693                    singing angry know punches face          0
694            telling someone calm makes much angrier          0

[1586 rows x 2 columns]

In [162]:
#Storing the content in the X variable
X=df['content']

In [163]:
y=df.iloc[:,-1].values

In [164]:
#Importing train test split from sklearn and splitting the training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.3)

In [165]:
#Imporing countervectorized from sklearn
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1500)

In [166]:
#Fitting the data to the model
X_train = cv.fit_transform(X_train).toarray()
X_test=cv.transform(X_test).toarray()

In [167]:
#We are importing multinominalNB model from sklearn 
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [168]:
#Training our model
model.fit(X_train,y_train)

MultinomialNB()

In [169]:
#Predicting the output for testing data
y_pred2=model.predict(X_test)

In [170]:
#importing accuracy score from sklearn
from sklearn.metrics import accuracy_score
#Printing the accuracy score for multimonal naivebayes model
print("Multinomial",accuracy_score(y_test,y_pred2))

Multinomial 0.7016806722689075

In [195]:
#testing the data for a sentence
test="i'm not batman"

In [196]:
test = np.array([test])
test = cv.transform(test)

In [197]:
model.predict(test)

array([1], dtype=int64)

In [198]:
if model.predict(test) == 0:
    print('ANGRY')
elif model.predict(test) == 1:
    print('HAPPY')
elif model.predict(test) == 2:
    print("SAD")

HAPPY